<div class="container">
    {{>header}}
    {{>alert}}
    <table class="table table-striped" style="margin-top: 30px;">
        <thead class="table-inverse">
        <tr>
            <th>id</th>
            <th>标题</th>
            <th>描述</th>
            <th>是否完成</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {{# if logistics}}
            {{# each logistics}}
                <tr>
                    <th scope="row">{{id}}</th>
                    <td>{{title}}</td>
                    <td>{{describe}}</td>
                    <td><span class="tag tag-pill {{finishTagJudge finish}}">{{isFinished finish}}</span></td>
                    <td><a class="btn btn-primary btn-sm" href="/admin/update/{{id}}">更新物流</a></td>
                </tr>
            {{/each}}
        {{else}}
            <tr>
                <th scope="row">暂无</th>
                <td>暂无</td>
                <td>暂无</td>
                <td>暂无</td>
                <td>暂无</td>
            </tr>
        {{/if}}
        </tbody>
    </table>
</div>